{% extends 'base.html' %}
{% load static %}

{% block contenido %}
  

<header class="major">
  <h2>Publicaciones</h2>

<form method="get">

  <!--Filtro de categorías-->
<select name="categoria" id="">
  <option value="">Todas</option>

  {% for categoria in categorias %}
  <option value="{{categoria.id}}">{{categoria.nombre}}</option>
  {% endfor %}
    
</select>


<!--Ordenar-->
<select name="orderby" id="">
  <option value="">Ordenar por</option>
  <option value="fecha_asc">Fecha ascendente</option>
  <option value="fecha_desc">Fecha descendente</option>
  <option value="alf_asc">Alfabeticamente ascendente</option>
  <option value="alf_desc">Alfabeticamente descendente</option>

</select>

<button type="submit">Filtrar categorias</button>

</form>
  
  {% if user.es_colaborador or user.is_superuser %}
  <a href="{% url 'publicar' %}" class="button">Publicar algo nuevo</a>
  {% endif %}
    
  

{% for publicacion in publicaciones  %}

<div class="row">
  <div class="col-4 col-6-medium col-12-small">
    {{publicacion.fecha}} - <strong>@{{publicacion.creador.username}}</strong>
    <span>
      <!-- Eliminar -->
      <a href="{% url 'eliminar-publicacion' publicacion.id %}"><i class="fa-regular fa-delete-left"></i></a>
      <!-- Editar -->
      <a href="{% url 'modificar-publicacion' publicacion.id %}"><i class="fa-solid fa-pen-to-square"></i></a> 
    </span>
      <section class="box">
          <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
          <header>
              <h3>{{publicacion.titulo}}</h3>
          </header>
          <p>{{publicacion.cuerpo}}</p>
          <p><i class="fa-solid fa-tag"></i>{{publicacion.categoria}}</p>
          <footer>
              <ul class="actions">
                  <li><a href="{% url 'detalle-publicacion' publicacion.id %}" class="button alt">leer más</a></li>
              </ul>
          </footer>
      </section>  
    </div>
  </div>

{% endfor %}


{% endblock contenido %}
