{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header class="major">
    <h2>Acerca de</h2>
 </header>
  
<body>

    <h4>Este blog fue creado por alumnas del grupo 3- comisión 7 del Informatorio 2023, con la temática “Videojuegos”.</h4><br /> 
    
    
    <h4>En esta página se proporcionarán las últimas novedades y descripciones de distintas categorías de juegos.</h4><br /> 
    
   
   
    <h4>Los invitamos a recorrer la página :)</h4> 
    
</body>



</html>
{% endblock contenido %}
    



