{% extends 'base.html' %}
{% load static %}


{% block banner %}

<section id="banner">
    <header>
        <h2 style="font-size: 25px;">¡Saludos! Navegante del multiverso...</h2>
        <p style="text-align: center;">Esto es <strong style="color: #d52349;">GAMEVERSE</strong>, un blog dedicado a los videojuegos.</p> 
        <p style="text-align: center;">¡Te invitamos a explorar!</p>
    </header>
</section>
    
{% endblock banner %}
    
{% block contenido %}
   
<!-- Sección de noticias/novedades -->
<section>
<header class="major" style="padding-top: -15;">
    <h2>Lo más destacado</h2>
</header>
    
<div class="row">
    {% for posteo in mejores_posteo %}
    <div class="col-4 col-6-medium col-12-small">                                      
        <section class="box">
            
            {% if posteo.imagen %}
            <a href="#" class="image featured"><img src="{{posteo.imagen.url}}" alt="" /></a>
            {% endif %}
                
            <header>
                <h3>{{posteo.titulo}}</h3>
            </header>
            <p>{{posteo.preview_truncada}}(...)</p>
            <footer>
                <ul class="actions">
                    <li><a href="{% url 'detalle-publicacion' posteo.id %}" class="button alt">leer más</a></li>
                </ul>
            </footer>
        </section>
    </div>
    {% endfor %}
                                        
    </div>
</section>    

{% endblock contenido %}
    